@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

html {
    box-sizing: border-box;
    font: 62.5% "Open Sans", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: #353b48;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

h1, h3, p {
    margin: 0;
}

/* login */

section {
    display: flex;
}

.login-img {
    display: none;
}

.login-form {
    height: 100vh;
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form h1 {
    color: #c31432;
    font-size: 5rem;
    padding-bottom: 20px;
}

.login-form p {
    font-size: 1.8rem;
}

.login-form h3 {
    padding-bottom: 10px;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0;
}

form > * {
    flex: 100%;
}

input {
    border:1px solid #dcdde1;
    margin-bottom: 15px;
}

input:focus {
    outline: none;
    border-color: rgba(195, 20, 50, 0.4);
    box-shadow: 0 0 4px rgba(195, 20, 50, 0.5);
}

label {
    margin-bottom: 5px;
}

input, button {
    border-radius: 5px;
    padding: 15px;
}

input[type=submit] {
    background-color: #c31432;
    border: none;
    color: #f5f6fa;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: background-color linear .3s;
}

input[type=submit]:active,
input[type=submit]:hover {
    background-color: #a21129;
}

.text-info {
    text-align: center;
}

.text-info a,
.text-info p {
    font-size: 1.5rem;
}

.text-info p {
    padding-top: 10px;
}

.text-info a {
    color: #a21129;
    text-decoration: none;
    transition: color ease-in .3s;
}

.text-info a:active,
.text-info a:hover {
    color: #353b48;
}

/* media queries */
@media screen and (min-width:990px) {
    .login-img,
    .login-form {
        padding: 5%;
    }
    .login-form #company-name {
        display: inline;
    }

    .login-form h1 {
        font-size: 3rem;
    }

    .login-form i {
        font-size: 2.5rem;
        vertical-align: super;
    }

    .login-img {
        background: linear-gradient(to bottom, rgba(195, 20, 50, 0.8), rgba(36, 11, 54, 0.8)),
        url(https://images.unsplash.com/photo-1521737711867-e3b97375f902?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .login-img h1,
    .login-img p {
        width: 300px;
    }

    .login-img h1 {
        color: #f5f6fa;
        font-size: 3.5rem;
    }

    .login-img p {
        color: #bebebe;
        line-height: 1.5;
    }
}