
*.jpg
.ipynb_checkpoints/app-checkpoint.ipynb
*.csv
face_enc
!users.csv
Images/abisheck/*
app-Copy1.ipynb
app_mine.ipynb
.ipynb_checkpoints/app_mine-checkpoint.ipynb
flask-redo/Images/abisheck/*
Flask/.vscode/settings.json
