<!DOCTYPE html>
<html>
<title>Upload</title>
<head>
<style>

body{
  background:url('https://papers.co/wallpaper/papers.co-sn87-soft-pink-pastel-blur-gradation-25-wallpaper.jpg');
  height:640px;
}

img{
  max-width:300px;
  margin-left: 40vw;
  margin-top: 20vh;
}
input[type=file]{
padding: 10px;
margin-left: 40vw;
}

</style>
</head>
<body>

  <img id="blah" src="http://placehold.it/180" alt="your image" />
  <br>
  <input type='file' onchange="readURL(this);" />


  <script>
    function readURL(input) {
       if (input.files && input.files[0]) {
           var reader = new FileReader();

           reader.onload = function (e) {
               $('#blah')
                   .attr('src', e.target.result);
           };

           reader.readAsDataURL(input.files[0]);
       }
   }
   </script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</body>
</html>
