<!doctype html>
<html>
<head>
	<title>Webcam</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='cam.css')}}"/>
</head>
<body>
  <h1>Welcome,{{user}}. Please authorize your face and click capture button.</h1>
<div class="contentarea">
  <div class="camera">
    <img src="{{ url_for('video_feed') }}" id="video">
    <form action="/capture" method="POST">
        <button id="startbutton" type="submit" >Capture</button>
    </form>
  </div>
  <canvas id="canvas">
  </canvas>

</div>
</body>
</html>
