<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='login.css')}}"/>

</head>
<body>
<section>
        <div class="login-form">
            <h1><span class="sign-in">Sign in to your account</span> <i class="fas fa-atlas"></i></h1>
            <form action="/login" method="POST">
                <label for="username">Username</label>
                <input type="text" name="username" value="">

                <label for="password">Password</label>
                <input type="password" name="password" value="">

              <input type="submit" value="PROCEED">
            </form>

            <div class="text-info">
                <p>New to the portal?   <a href="#"> Register</a></p>
            </div>
            <br>
            <br>
            <h1 style="color:'red';font-size:1.45rem;">{{ info }}</h1>
        </div>
        <div class="login-img">
            <h1>Amrita Examination Portal</h1>
            <p>A one-stop place to write all your exams in online mode with well-established proctor system.</p>
        </div>
    </section>

</form>
</body>
</html>