
<!DOCTYPE html>
<html>
  <head>
    	<title>Register</title>
    	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='register.css')}}"/>
  </head>

<body>
<form id="multistepsform">
<ul id="progressbar">
    <li>Account Setup</li>
    <li>Face ID setup</li>
    <li class="active">Upload signature</li>
  </ul>
    <h2 class="fs-title">Upload your signature</h2>
    <h3 class="fs-subtitle">Upload your signature</h3>
    <img id="blah" src="http://placehold.it/180" alt="your image" />
    <br>

  <!--  <form action="/sign" method="POST">-->
      <input type='file' multiple="true" name="file"/>
    <!--<input type="submit" value="PROCEED">-->
    <br>
  <a href='/register2'>  <input type="button" name="previous" class="previous action-button" value="Previous" /></a>
    <input type="submit" name="submit" class="submit action-button" value="Submit" />

</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" integrity="sha512-0QbL0ph8Tc8g5bLhfVzSqxe9GERORsKhIn1IrpxDAgUsbBGz/V7iSav2zzW325XGd1OMLdL4UiqRJj702IeqnQ==" crossorigin="anonymous"></script>
<script>
  function readURL(input) {
     if (input.files && input.files[0]) {
         var reader = new FileReader();
        saveAs(input.files[0]);
         reader.onload = function (e) {
             $('#blah')
                 .attr('src', e.target.result);
         };

         reader.readAsDataURL(input.files[0]);
     }
 }
 </script>
<script src='register.js'></script>
</body>
</html>
